doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Forgot Password - GroceryGo
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
        link(rel='stylesheet' href='/css/resetpassword.css') 
        link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap')
        script(src='/js/forgotpassword.js')

    body
        .forgot-password-container
            form#forgotPasswordForm(action='/api/v1/users/forgotpassword' method='POST' autocomplete='off')
                h2 Forgot Password
                .form-group
                    input(type='email' id='email' name='email' placeholder='Enter your email', required)
                    span#error-email(style='color: red; display: none;') 
                button(type='submit') Submit
            div.success-message(style='color: green; display: none;')
            div.general-error-message(style='color: red; display: none;')

