doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title All Orders
    link(rel='stylesheet' href='/css/orderhistory.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap')
    script(src='https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js')

  body
    // Header
    header.header
      nav.navbar
        

    // Main Content
    .container
      .completed-orders
        h2 Completed Orders
        .order-list#completed-orders
          // Orders will be dynamically inserted here by JavaScript

      .canceled-orders
        h2 Canceled Orders
        .order-list#canceled-orders
          // Orders will be dynamically inserted here by JavaScript

    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    script(src='/js/orderhistory.js')
