
doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Reset Password - GroceryGo
        link(rel='stylesheet' href='/css/resetpassword.css')
        //- link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap')
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        script(src='/js/resetpassword.js')

    body
        .reset-password-container
            form#resetPasswordForm(action=`/api/v1/users/resetPassword/${token}`, method='PATCH', data-reset-token=`${token}`)
                h2 Reset Password
                .form-group
                    input(type='password' id='password' name='password' placeholder='Enter new password' required)
                    span.error-message#password-error(style='color: red;')
                .form-group
                    input(type='password' id='confirmPassword' name='confirmPassword' placeholder='Confirm new password' required)
                    span.error-message#confirmPassword-error(style='color: red;')
                button(type='submit') Reset Password
                .success-message(style='display:none;color:green;')
                .general-error-message(style='display:none;color:red;')
            

