doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title GroceryGo - Update Password
        link(rel='stylesheet' href='/css/updatePassword.css')
        link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap')
        link(href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet")
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        script(src='/js/updatePassword.js')

    body
        // Header
        header.header
            nav.navbar
                .navbar-left
                    a(href='/')
                        img.nav-logo(src='/img/grocerygo.png' alt='GroceryGo Logo')
                .navbar-center
                    form.search-form
                        input#search-input.search-bar(type='text' placeholder='Search for products')
                        button#search-button.search-button Search
                        button#voice-search-button.search-button
                            i(class='fa fa-microphone')
                .navbar-right
                    a(href='/getCart')
                        img.nav-icon(src='/img/wishlist.png' alt='Wishlist' class='nav-icon')
                        span.nav-text Cart
                    a(href='/myProfile')
                        img.nav-icon(src='/img/profile.png' alt='Profile' class='nav-icon')
                        span.nav-text Sign Up

        // Main content
        main
            .container
                h1 Update Your Password
                form#update-password-form(action='/api/v1/users/UpdateMyPassword', method='patch')
                    .form-group
                        label(for='passwordCurrent') Current Password:
                        input#passwordCurrent(type='password', name='passwordCurrent', required=true)
                    .form-group
                        label(for='password') New Password:
                        input#password(type='password', name='password', required=true)
                        small Password must be at least 8 characters long.
                    .form-group
                        label(for='confirmPassword') Confirm New Password:
                        input#confirmPassword(type='password', name='confirmPassword', required=true)
                    button#submit-button(type='submit') Update Password
                p#alert-message(style='color: red;') 
