/* resetpassword.css */

body {
  font-family: 'Lato', sans-serif;
  background-color: #f8f9fa; /* Fallback background color */
  background: url('/img/dashboard11.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.reset-password-container {
  text-align: center;
  background-color: #352e2e; /* Blue background */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  color: #ffffff;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

input[type='email'],
input[type='password'] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 1em;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Semi-transparent white background */
  color: #333; /* Dark text color */
}

button[type='submit'] {
  background-color: #0d90e7;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Space Grotesk', sans-serif;
}

button[type='submit']:hover {
  background-color: #45a049;
}

.error-message {
  font-family: 'Space Grotesk', sans-serif;
  display: none;
  font-size: 14px;
  font-weight: 600;
}
#error-email {
  font-weight: 700;
  color: red;
  display: none; /* Hide initially */
}

.success-message {
  color: rgb(228, 239, 228);
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
}

.general-error-message {
  /* display: none; */
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(239, 239, 239);
}

.forgot-password-container {
  text-align: center;
  background-color: #352e2e; /* Blue background */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  color: #ffffff;
}
